name: Create upstream version
on:
  push:
    branches-ignore:
      - '**'
    tags:
      - '**'
jobs:
  update-semver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: haya14busa/action-update-semver@v1.2.1
        with:
          major_version_tag_only: false
